
*{
  font-family: 'Roboto', sans-serif !important;
}

h1{
  font-size: 35px !important;
  margin: 0;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}

p{
  font-size: 14px;
}

body{
  background-color: #F5E6CA;
  background-image: url(./Icones/BackGround1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

section{
  margin: 20px 0px;
  padding: 20px 0px;
}

header {
  background: rgb(5,87,143);
  background: linear-gradient(180deg, rgba(5,87,143,1) 0%, rgba(17,94,146,1) 100%);
  color: #fff;
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 900;
}

.header_div{
  width: 90vw;
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
}

#menu_options li{
  display: inline;
  margin: 0px 10px;
  font-size: 18px;
  cursor: pointer;
}

#menu_options li:hover{
  border-bottom: #569fcf 2px solid;
}

.search_div{
  display: flex;
  margin: 30px 0px;
  justify-content: center;
}

.search_input{
  background-color: #D9D9D9;
  border: none;
  border-radius: 14px;
  outline: none;
  padding: 6px 12px;
}

.image_holder {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.image {
  background-color: rgba(255, 255, 255, 0.2); /* Glassmorphism background color with opacity */
  height: 250px;
  width: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 16px; /* Add some border radius for a smoother look */
  backdrop-filter: blur(8px); /* Apply backdrop filter for frosted glass effect */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background 0.2s;
}

.image .photo {
  width: 100%; /* Set the photo's width to 100% to cover the entire container */
  height: 100%; /* Set the photo's height to 100% to cover the entire container */
  cursor: pointer;
  object-fit: cover; /* Make sure the image covers the entire container */
  transition: transform .2s;

}

.photo {
  position: relative;
}

.photo:hover {
  transform: scale(1.4);
}


.photo:hover{
  transform: scale(1.4);
}

.shadow_card{
  box-sizing: border-box;
  width: 90vw;
  max-width: 1800px;
  margin: -100px auto;
  background-color: #F8F2E5 ;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px;
}

.inner_card{
  padding: 25px 50px;
  margin-bottom: 100px;
}

.footer {
  background-color: #fbd9ac; 
  color: #215e97;
  padding: 20px 0 0px 0;
  width: 90vw;
  max-width: 1800px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo h3 {
  font-size: 24px;
  margin: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  display: inline;
  margin-right: 20px;
}

.footer-links ul li:hover{
  border-bottom: 2px solid #ffc170;
}

.footer-links ul li:last-child {
  margin-right: 0;
}

.footer-links a {
  text-decoration: none;
  color: #215e97;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-social a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
}