*{
  font-family: 'Roboto', sans-serif !important;
}

h1{
  font-size: 35px !important;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}

p{
  font-size: 14px;
}

body{
  background-color: #eee;
}

section{
  margin: 100px 0px 0px 0px;
}