.accordeon{
  margin: 6px 0px;
  display: flex;
  border-radius: 1px;
  text-align: center;
}


.general_accordeon {
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: #f8f8f8;
  color: #215e97;
  transition: background-color 0.2s; /* Add a 0.3-second transition for background-color */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Add outer shadow all around */
}

.general_accordeon > h2{
  width: fit-content;
  margin: 0 auto;
}

.general_accordeon h2:hover{
  cursor: pointer;
}

.accordeon_title{
  cursor: default !important;
  margin-top: 20px;
  border-bottom: 1px #215e97 solid;
  width: fit-content;
  margin: 20px auto 0px auto;
}

.accordeon_body{
  display: flex;
  justify-content: center;
  
}

details summary::-webkit-details-marker {
  display: none;
}
details summary {
  list-style: none;
}

#menu_option_holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.header_bar{
  height: 150px;
}

.location_input_holder{
  border-radius: 4px;
  overflow: hidden;
  margin: 0px auto 0px auto;
  display: flex;
  align-items: center;
  margin-top: -126px;
  margin-bottom: 100px;
}

#location_input{
  width: 500px;
  height: 30px;
  margin: 20px auto 10px auto;
}

.secction_title_holder{
  margin-bottom: 10px;
}

.secction_title_holder h3{
  font-weight: 200;
}

.secction_subtitle{
  padding: 2px 18px;
  font-style: italic;
}

.like{
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  margin: 8px 8px 0px 0px;
  transition: transform 0.3s;
  z-index: 1000;
}

.like:hover{
  transform: scale(1.6);
}

.shadow{
  box-shadow: 0 0 10px rgb(229 207 178);
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
}